html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
}

.header {
    height: 50px;
    background: #3c3c3c;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #555;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.header .container-fluid {
    width: 100%;
}

.header .row {
    display: flex;
    width: 100%;
}

.header .col-9 {
    margin-left: auto;
}

.header .inner-logo {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.body .sider {
    width: 180px;
    background: #323232;
    color: #fff;
    height: calc(100vh - 50px);
    position: fixed;
    top: 50px;
    left: 0;
}

.body .main {
    margin: 15px;
    position: relative;
    left: 180px;
    width: calc(100% - 180px);
}

.sider .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sider .inner-menu ul li a {
    color: #fff;
    display: block;
    padding: 6px 15px;
    border-bottom: 1px solid #363636;
}